[package]
name = "topiary-cli"
description = "CLI app for Topiary, the universal code formatter."
categories = ["command-line-utilities", "development-tools", "text-processing"]
keywords = [
    "cli",
    "code-formatter",
    "formatter",
    "text",
    "tree-sitter",
    "utility",
]
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true
readme.workspace = true
license.workspace = true

[[bin]]
name = "topiary"
path = "src/main.rs"

[dependencies]
# For now we just load the tree-sitter language parsers statically.
# Eventually we will want to dynamically load them, like Helix does.
clap = { workspace = true, features = ["derive"] }
env_logger = { workspace = true }
log = { workspace = true }
serde-toml-merge = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread", "macros"] }
toml = { workspace = true }
topiary = { path = "../topiary" }

[dev-dependencies]
assert_cmd = { workspace = true }
