[package]
name = "topiary"
description = "Formats input source code in a style defined for that language."
version = "0.1.0"
edition = "2021"

[features]
default = ["tree-sitter"]
tree-sitter = ["tree-sitter-json", "tree-sitter-rust", "tree-sitter-toml", "tree-sitter-bash", "tree-sitter-nickel", "tree-sitter-query", "tree-sitter-ocaml", ]
wasm = ["futures", "tokio/rt", "web-tree-sitter"]

[dependencies]
# For now we just load the tree-sitter language parsers statically.
# Eventually we will want to dynamically load them, like Helix does.
futures = { version = "0.3.27", optional = true }
itertools = "0.10"
log = "0.4"
pretty_assertions = "1.3"
regex = "1.7.1"
serde = { version = "1.0.156", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "^1.26.0", features = ["macros"] }
tree-sitter-facade = { git = "https://github.com/tweag/tree-sitter-facade" }
tree-sitter-json = { version = "0.19", optional = true }
tree-sitter-rust = { version = "0.20.3", optional = true }
tree-sitter-toml = { version = "0.20.0", optional = true }
tree-sitter-bash = { git = "https://github.com/tree-sitter/tree-sitter-bash", optional = true }
tree-sitter-nickel = { git = "https://github.com/nickel-lang/tree-sitter-nickel", optional = true }
tree-sitter-query = { git = "https://github.com/nvim-treesitter/tree-sitter-query", optional = true }
# Needs a version > 0.19
tree-sitter-ocaml = { git = "https://github.com/tree-sitter/tree-sitter-ocaml", optional = true }
web-tree-sitter = { git = "https://github.com/tweag/web-tree-sitter-sys", package = "web-tree-sitter-sys", default-features = false, features = ["web"], optional = true }

[dev-dependencies]
criterion = { version = "0.4", features=["async_futures"] }
tokio-test = "0.4.2"

# These don't belong here, but `nix build .#web-playground` fails without them.
# Can possibly be removed when we have moved to workspaces.
wasm-bindgen-test = "0.3.34"

[[bench]]   
name = "benchmark"
harness = false
