[workspace.package]
version = "0.3.0"
edition = "2021"
authors = ["Tweag"]
homepage = "https://topiary.tweag.io"
repository = "https://github.com/tweag/topiary"
documentation = "https://github.com/tweag/topiary#topiary"
readme = "README.md"
license = "MIT"

[workspace]
members = ["topiary", "topiary-cli", "topiary-queries", "topiary-playground", "topiary-config"]
exclude = ["samples"]
resolver = "2"

[profile.release]
lto = true
opt-level = 's'

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.0.7"
# The preferred Rust toolchain to use in CI (rustup toolchain syntax)
rust-toolchain-version = "1.70.0"
# CI backends to support (see 'cargo dist generate-ci')
ci = ["github"]
# The installers to generate for each app
installers = ["shell", "powershell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["x86_64-unknown-linux-gnu", "x86_64-apple-darwin", "x86_64-pc-windows-msvc", "aarch64-apple-darwin"]

[workspace.dependencies]
assert_cmd = "2.0"
async-scoped = { version = "0.7.1", features = ["use-tokio"] }
clap = { version = "4.3", features = [ "env" ] }
clap_derive = "4.3"
clap_complete = "4.4"
criterion = "0.5"
directories = "5.0"
env_logger = "0.10"
futures = "0.3.28"
indoc = "2.0"
itertools = "0.11"
log = "0.4"
predicates = "3.0"
pretty_assertions = "1.3"
prettydiff = { version = "0.6.4", default-features = false }
regex = "1.8.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tempfile = "3.5"
test-log = "0.2.11"
tokio = "1.32"
tokio-test = "0.4"
toml = "0.7"
tree-sitter-bash = { git = "https://github.com/tree-sitter/tree-sitter-bash", rev = "1b0321ee85701d5036c334a6f04761cdc672e64c" }
tree-sitter-facade = { git = "https://github.com/tweag/tree-sitter-facade" }
tree-sitter-json = { git = "https://github.com/tree-sitter/tree-sitter-json.git" }
tree-sitter-nickel = { git = "https://github.com/nickel-lang/tree-sitter-nickel", rev = "091b5dcc7d138901bcc162da9409c0bb626c0d27" }
tree-sitter-ocaml = { git = "https://github.com/tree-sitter/tree-sitter-ocaml.git" }
tree-sitter-ocamllex = { git = "https://github.com/314eter/tree-sitter-ocamllex.git" }
tree-sitter-query = { git = "https://github.com/nvim-treesitter/tree-sitter-query" }
tree-sitter-rust = { git = "https://github.com/tree-sitter/tree-sitter-rust.git" }
tree-sitter-toml = { git = "https://github.com/tree-sitter/tree-sitter-toml.git" }
unescape = "0.1"
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4.34"
web-tree-sitter = { git = "https://github.com/ErinvanderVeen/web-tree-sitter-sys.git", branch = "wasm-bindgen-minor-version", default-features = false, package = "web-tree-sitter-sys" }

[patch."https://github.com/tweag/web-tree-sitter-sys"]
web-tree-sitter = { git = "https://github.com/ErinvanderVeen/web-tree-sitter-sys.git", branch = "wasm-bindgen-minor-version", package = "web-tree-sitter-sys" }
