[package]
name = "topiary"
description = "Formats input source code in a style defined for that language."
version = "0.1.0"
edition = "2021"

[dependencies]
# For now we just load the tree-sitter language parsers statically.
# Eventually we will want to dynamically load them, like Helix does.
clap = { version = "4.1", features = ["derive"] }
env_logger = "0.10"
itertools = "0.10"
log = "0.4"
pretty_assertions = "1.3"
regex = "1.6.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tempfile = "3.4.0"
test-log = "0.2"
tree-sitter-facade = { git = "https://github.com/tweag/tree-sitter-facade" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies] 
tokio = { version = "1.21.2", features = ["macros", "rt-multi-thread"] }
tree-sitter-json = "0.19"
tree-sitter-rust = "0.20.3"
tree-sitter-toml = "0.20.0"
tree-sitter-bash = { git = "https://github.com/tree-sitter/tree-sitter-bash" }
tree-sitter-nickel = { git = "https://github.com/nickel-lang/tree-sitter-nickel" }
tree-sitter-query = { git = "https://github.com/nvim-treesitter/tree-sitter-query" }
# Needs a version > 0.19
tree-sitter-ocaml = { git = "https://github.com/tree-sitter/tree-sitter-ocaml" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-tree-sitter = { git = "https://github.com/tweag/web-tree-sitter-sys", package = "web-tree-sitter-sys", default-features = false, features = ["web"] }

[dev-dependencies]
assert_cmd = "2.0"
criterion = "0.4"

[[bench]]
name = "benchmark"
harness = false
