[workspace.package]
version = "0.2.3"
edition = "2021"
authors = ["Tweag"]
homepage = "https://topiary.tweag.io"
repository = "https://github.com/tweag/topiary"
documentation = "https://github.com/tweag/topiary#topiary"
readme = "README.md"
license = "MIT"

[workspace]
members = ["topiary", "topiary-cli", "topiary-playground"]
exclude = ["samples"]

[profile.release]
lto = true
opt-level = 's'

# The profile that 'cargo dist' will build with
[profile.dist]
inherits = "release"
lto = "thin"

# Config for 'cargo dist'
[workspace.metadata.dist]
# The preferred cargo-dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.0.7"
# The preferred Rust toolchain to use in CI (rustup toolchain syntax)
rust-toolchain-version = "1.67.1"
# CI backends to support (see 'cargo dist generate-ci')
ci = ["github"]
# The installers to generate for each app
installers = ["shell", "powershell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["x86_64-unknown-linux-gnu", "x86_64-apple-darwin", "x86_64-pc-windows-msvc", "aarch64-apple-darwin"]

[workspace.dependencies]
assert_cmd = "2.0"
async-scoped = { version = "0.7.1", features = ["use-tokio"] }
cfg-if = "1.0.0"
clap = { version = "4.3", features = [ "env" ] }
criterion = "0.5"
directories = "5.0"
env_logger = "0.10"
futures = "0.3.28"
indoc = "2.0"
itertools = "0.11"
log = "0.4"
predicates = "3.0.3"
pretty_assertions = "1.3"
prettydiff = { version = "0.6.4", default-features = false }
regex = "1.8.2"
serde = "1.0.163"
serde-toml-merge = "0.3"
serde_json = "1.0"
tempfile = "3.5.0"
test-log = "0.2.11"
tokio = "1.32"
tokio-test = "0.4"
toml = "0.7"
tree-sitter-bash = { git = "https://github.com/tree-sitter/tree-sitter-bash" }
tree-sitter-facade = { git = "https://github.com/tweag/tree-sitter-facade" }
tree-sitter-json = { git = "https://github.com/tree-sitter/tree-sitter-json.git" }
tree-sitter-nickel = { git = "https://github.com/nickel-lang/tree-sitter-nickel", rev = "b1a4718601ebd29a62bf3a7fd1069a99ccf48093" }
tree-sitter-ocaml = { git = "https://github.com/tree-sitter/tree-sitter-ocaml.git" }
tree-sitter-ocamllex = { git = "https://github.com/314eter/tree-sitter-ocamllex.git" }
tree-sitter-query = { git = "https://github.com/nvim-treesitter/tree-sitter-query" }
tree-sitter-rust = { git = "https://github.com/tree-sitter/tree-sitter-rust.git" }
tree-sitter-toml = { git = "https://github.com/tree-sitter/tree-sitter-toml.git" }
unescape = "0.1"
wasm-bindgen = "0.2.84"
wasm-bindgen-futures = "0.4.34"
web-tree-sitter = { git = "https://github.com/tweag/web-tree-sitter-sys", default-features = false, package = "web-tree-sitter-sys" }
