[package]
name = "topiary"
description = "Formats input source code in a style defined for that language."
version = "0.1.0"
edition = "2021"

[dependencies]
# For now we just load the tree-sitter language parsers statically.
# Eventually we will want to dynamically load them, like Helix does.
clap = { version = "4.1", features = ["derive"] }
env_logger = "0.10"
itertools = "0.10"
log = "0.4"
ouroboros = "0.15"
pretty_assertions = "1.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tempfile = "3.4.0"
test-log = "0.2"
tree-sitter-json = "0.19"
tree-sitter-rust = "0.20.3"
tree-sitter-toml = "0.20.0"
tree-sitter-facade = "0.9.0"

tree-sitter-bash = { git = "https://github.com/tree-sitter/tree-sitter-bash" }
tree-sitter-nickel = { git = "https://github.com/nickel-lang/tree-sitter-nickel" }

# Needs a version > 0.19
tree-sitter-ocaml = { git = "https://github.com/tree-sitter/tree-sitter-ocaml" }

# NOTE This is required by Topiary, so must remain statically linked
tree-sitter-query = { git = "https://github.com/nvim-treesitter/tree-sitter-query" }

[dev-dependencies]
assert_cmd = "2.0"
criterion = "0.4"

[[bench]]
name = "benchmark"
harness = false
