[package]
name = "tree-sitter-formatter"
description = "Takes a source file from stdin and outputs a version to stdout that is formatted according to the specified language."
version = "0.1.0"
edition = "2021"

[dependencies]
# For now we just load the tree-sitter language parsers statically. 
# Eventually we will want to dynamically load them, like Helix does.
clap = { version = "3.2", features = ["derive"]}
env_logger = "0.9"
itertools = "0.10"
log = "0.4"
pretty = "0.11"
pretty_assertions = "1.3"
regex = "1.6.0"
test-log = "0.2"
tree-sitter = "0.20"
tree-sitter-json = "0.19"
tree-sitter-rust = "0.20"
tree-sitter-toml = "0.20.0"

# Needs a version > 0.19
tree-sitter-ocaml = { git = "https://github.com/tree-sitter/tree-sitter-ocaml" }

[dev-dependencies]
criterion = "0.4"

[[bench]]
name = "benchmark"
harness = false
