.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

header {
    flex: 0;
}

.columns {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100vh;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1 {
    flex: 0;
    font-size: medium;
}

textarea {
    flex: 1;
    width: 100%;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #212529;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.btn-primary {
    background-color: #e0c3fc;
    border-color: #e0c3fc;
    color: #212529;
}

.btn-primary:hover {
    background-color: #cd9ffa;
    border-color: #c792fa;
    color: #212529;
}
