on: push

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3.1.0

      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable

      - name: Set up Nix cache
        uses: cachix/cachix-action@v12
        with:
          name: tweag-topiary
          authToken: "${{ secrets.CACHIX_TWEAG_TOPIARY_AUTH_TOKEN }}"

      - name: Clippy, test, and benchmark
        run: nix -L flake check

      - name: Build and test executable
        run: 'echo \{ \"foo\": \"bar\" \} | nix run . -- -l json'

      - name: Build web playground Wasm app
        run: nix build .#wasm-app

      - name: Copy web playground Wasm app into playground frontend
        run: cp -r result web-playground/react-app/src

      - name: Install web playground frontend dependencies
        run: nix develop -c npm install --prefix web-playground/react-app

      - name: Build web playground frontend
        run: nix develop -c npm run build --prefix web-playground/react-app

      - name: Copy playground into website
        run: |
          rm -rf website/playground
          cp -r web-playground/react-app/build website/playground

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v1.0.7
        if: success() && matrix.os == 'ubuntu-latest' && github.ref == 'refs/heads/main'
        with:
          path: 'website'

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'

    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
